@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    background-image: linear-gradient(to bottom, #1c000a, #170007, #120005, #0a0002, #000000);    color: rgb(236, 240, 241) !important;
    position: relative;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }

.padding-50 {
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 15px
}

.padding-50-bottom {
    padding-bottom: 50px;
}

.padding-50-lr {
    padding-left: 50px;
    padding-right: 50px;
}

ul {
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
    vertical-align: top;
}

.font-20 {
    font-size: 20px;
}

.font-40 {
    font-size: 40px;
}
@media screen and (max-device-width:480px) {
    .font-40 {
        font-size:30px;
    }
}

  .hover-img figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-img figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

li span {
	z-index: -1;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 1;
}

.text-center {
    text-align: center;
}

figure:hover+span {
	opacity: 1;
}

.iframe-full {
    height:calc(100vh - 4px);
    width:calc(100vw - 4px);
    box-sizing: border-box;
}

.search_bar{
    background-color: transparent !important;
}